@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

._dui-light-mode {
  --_dui_bg_header_mobile: #fff;
  --_dui_drag_grid: #eee;
  --_dui_dragger: #eee;
  --_dui_dragger_border: #aaa;
  --_dui_dragger_tap: #ccc;
  --_dui_draw_bg: #fff;
  --_dui_bg_btn_grid: #00000010;
}

._dui-header-mobile {
  width: 100%;
  left: 0;
  top: 0;
  height: 50px;
  background-color: var(--_dui_bg_header_mobile);
  z-index: 40;
}

._dui-drag-mob-grid {
  background-color: var(--_dui_drag_grid);
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  z-index: 60;
}

@media (prefers-reduced-motion: no-preference) {
  ._dui-drag-mob-grid {
    transition: 0.1s ease;
  }
}

._dui-dragger {
  background-color: var(--_dui_dragger);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: solid 1px var(--_dui_dragger_border);
  width: 100%;
  height: 50px;
}

._dui-dragger div {
  background-color: var(--_dui_dragger_tap);
  width: 25%;
  height: 10px;
  top: 50%;
  left: 50%;
  position: relative;
  border-radius: 50px;
  transform: translateX(-50%) translateY(-50%);
}

._dui-draw-area {
  background-color: var(--_dui_draw_bg);
}

._dui-dragger-bg {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 59;
}

._dui-wrapper-dragger-mobile-grid-grid {
  background-color: transparent;
  display: grid;
  width: 100%;
  position: relative;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  top: 5px;
  border-bottom: solid 1px var(--_dui_dragger_border);
  padding-bottom: 25px;
}

._dui-wrapper-dragger-mobile-grid-grid button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #00000000;
  display: grid;
  grid-template-rows: calc(100% - 30px) 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
._dui-wrapper-dragger-mobile-grid-grid button {
  transition: 0.25s ease;
}
}

._dui-wrapper-dragger-mobile-grid-grid button:active {
  background-color: var(--_dui_bg_btn_grid);
}

._dui-wrapper-dragger-mobile-grid-grid button p {
  font-size: 15px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

._dui-wrapper-dragger-mobile-grid-grid button img {
  width: calc(100% - 60px);
  border-radius: 50%;
}

._dui_main_content {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
}

._dui-mgd {
  overflow-y: scroll;
  width: 100vw;
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 50px;
  top: 10px;
  height: 100%;
}

._dui-mgd button {
  border: none;
  background-color: transparent;
  border-bottom: solid 1px #88888820;
  position: relative;
}